#conteneur {
				margin: 0 auto;		/* La boite est centrée dans la fenêtre du navigateur */	
				max-width: 1024px;	/* La boite a une taille maximale de 1024 pixels */
			}
			/**** Mise en page flexible ***/
			/* axe principal vertical du header */
			header {
				display: flex;
				flex-direction: column;
				 background-image: radial-gradient(circle at center, yellow, green);
			}
			nav, main {
				display: flex;
			}
			nav {
				justify-content: space-around;
			}
			#droite, #gauche {
				flex: 0 0 20%;
			}
			footer {
				display:flex;
				justify-content: center;
			}
			/**** Mise en forme de toutes les boites */
			header, nav, #gauche, section, #droite, footer {
				padding: 5px;
			}
			/* En-tête et pied de page */
			header, footer {
				background-color: #666;
				color: #fff;
			}
			/* barre de navigation */
			nav {
				background-color: #aaa;
			}
			nav a {
				text-decoration : none;
				color: #000; 
			}
			nav a:hover {
				color : #fff;
				background-color : #000;
			}
			/* barres latérales */
			#gauche, #droite {
				background-color: #eee;
			}
			#gauche a, #droite a {
				text-decoration: none;
				color: #000;
			}
			/* Marges des titres */
			h1, h2, h3 {
				margin: 0;
			}
			.lien-transition {
  				color: #3498db;
 				text-decoration: none;
  				transition: color 0.3s ease-in-out;
			}

			.lien-transition:hover {
  			color: #2980b9;
			}
			.element {
  				width: 200px;
  				height: 200px;
  				background-image: linear-gradient(to right, red, blue);
			}
/**** Mise en page Responsive ****/
@media (max-width: 640px) {
	/* Mise en page en flexible */
	nav {
		flex-wrap: wrap;
	}
	main {
		flex-direction: column;
	}
	#gauche {
		order: -2;
	}
	#droite {
		order: -1;
	}
	#gauche, #droite {
		display: flex;
		flex-direction: row;
		align-items:baseline;
	}
	/* Mise en forme classique */
	aside h3 {
		margin-right: 30px;
	}
	aside p:after {
		content: " -";
	}
	aside p:last-child::after {
		content: "";
	}
	aside p:before {
		content: "\a0";
	}
}